.container
  .hero-unit
    %h3= "Bienvenido #{current_user.email} a Norris Cards"
    
  .row
    .span5
      %h2 Listados de Barajas disponibles
      - @barajas.each do |baraja|
        .cada-baraja
          %h3= "#{baraja.nombre} de la edición #{baraja.edicion}"
          %a{:href => carta_path(:baraja_id => baraja.id)}
            %img{:src => "#{baraja.imagen}"}