= form_for @cartum do |f|
  -if @cartum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cartum.errors.count, "error")} prohibited this cartum from being saved:"
      %ul
        - @cartum.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id_baraja
    = f.number_field :id_baraja
  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :numeroletra
    = f.text_field :numeroletra
  .field
    = f.label :imagen
    = f.text_field :imagen
  .field
    = f.label :letras
    = f.text_field :letras
  .field
    = f.label :colores
    = f.text_field :colores
  .actions
    = f.submit 'Save'
