%h2 Iniciar Sesi칩n
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.email_field :email, :class => "span3", :placeholder => "Correo Electr칩nico"
  %p
    = f.password_field :password, :class => "span3", :placeholder => "Contrase침a"
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label "Recordarme"
  %div= f.submit "Iniciar Sesi칩n"
= render "devise/shared/links"